* {
  text-decoration: none;
  color: inherit;
}

html,
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.container {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 976px;
    min-width: 976px;
  }
}

@media (max-width: 976px) {
  .container {
    width: 768px;
    min-width: 768px;
  }
}

header {
  height: 80px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  -webkit-box-shadow: 1px 2px 6px #000;
          box-shadow: 1px 2px 6px #000;
  background: #fff;
}

header .inner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

header .inner-header .logo {
  cursor: pointer;
}

header .inner-header .logo a {
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: #000;
}

header .inner-header .navigation nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner-header .navigation nav div {
  padding: 0 20px;
  cursor: pointer;
}

header .inner-header .navigation nav a {
  margin: 0 20px;
  text-decoration: none;
  -webkit-text-decoration: 1.75px;
          text-decoration: 1.75px;
  font-size: 0.7rem;
  color: #000;
}

header .inner-header .navigation nav a:last-child {
  margin-right: 0px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: relative;
  height: 95vh;
}

.banner .row {
  text-align: center;
  position: relative;
}

.banner .row .main-text {
  font-size: 5.3rem;
  text-transform: uppercase;
  letter-spacing: 42px;
  font-weight: 700;
  color: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  mix-blend-mode: difference;
  z-index: 9;
}

@media (max-width: 1440px) {
  .banner .row .main-text {
    font-size: 4.0rem;
    letter-spacing: 36px;
  }
}

.banner .row .main-image {
  display: inline-block;
  height: 200px;
  width: 200px;
}

.banner .scroll {
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: 1.5px;
  color: #000;
  text-transform: uppercase;
  position: absolute;
  bottom: 48px;
}

.banner .fixed-misc {
  position: fixed;
  top: 50%;
  right: -48px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 8;
}

@media (min-width: 1440px) {
  .banner .fixed-misc {
    right: -112px;
  }
}

.about-blurb {
  padding: 48px 0;
  background: #fff;
  position: relative;
}

.about-blurb .inner-blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-blurb .inner-blurb .content {
  width: 33%;
}

@media (max-width: 1440px) {
  .about-blurb .inner-blurb .content {
    width: 40%;
  }
}

.about-blurb .inner-blurb .content .h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 1.5em;
  margin: 0;
}

.about-blurb .inner-blurb .content p {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
  margin: 40px 0 72px;
}

.about-blurb .inner-blurb .content .btn-row a {
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: 1.5px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.about-blurb .inner-blurb .images {
  width: 50%;
  height: 1000px;
  position: relative;
  z-index: 7;
}

@media (max-width: 1440px) {
  .about-blurb .inner-blurb .images {
    height: 360px;
  }
}

.about-blurb .inner-blurb .images .top-right {
  position: absolute;
  width: 460px;
  top: 200px;
  right: 0;
  z-index: 4;
}

.skill-blurb {
  height: auto;
  padding: 48px 0;
  background: #fff;
  position: relative;
}

.skill-blurb .inner-blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
}

.skill-blurb .inner-blurb .content {
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .skill-blurb .inner-blurb .content {
    width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .skill-blurb .inner-blurb .content {
    width: 976px;
    min-width: 976px;
  }
}

@media (max-width: 976px) {
  .skill-blurb .inner-blurb .content {
    width: 768px;
    min-width: 768px;
  }
}

.skill-blurb .inner-blurb .content .blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
  color: inherit;
}

.skill-blurb .inner-blurb .content .skills {
  border: 1px solid #000;
  border-radius: 10px;
  height: 300px;
  width: 250px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-blurb .inner-blurb .content .skills:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.skill-blurb .inner-blurb .content .skills .text {
  position: relative;
  -webkit-transform: translyateY(-50%);
          transform: translyateY(-50%);
  top: 50%;
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 300;
}

.skill-blurb .inner-blurb .content .skills #html {
  position: relative;
  top: 30px;
  left: 30px;
}

.skill-blurb .inner-blurb .content .skills #scss {
  position: relative;
  top: 30px;
  left: 30px;
}

.skill-blurb .inner-blurb .content .skills #react {
  position: relative;
  top: 30px;
  left: 30px;
}

.skill-blurb .inner-blurb .content .skills #gatsby {
  position: relative;
  top: 30px;
  left: 30px;
}

.skill-blurb .inner-blurb .h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 1.5em;
  margin: 0;
}

.skill-blurb .inner-blurb p {
  position: absolute;
  width: 55%;
  left: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
}

.skill-blurb .inner-blurb .btn-row a {
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: 1.5px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.contact {
  height: 75vh;
  padding: 48px 0;
  background: #fff;
  position: relative;
}

.contact .inner-blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .inner-blurb .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1640px;
  min-width: 1640px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .contact .inner-blurb .content {
    width: 1280px;
    min-width: 1280px;
  }
}

@media (max-width: 1280px) {
  .contact .inner-blurb .content {
    width: 976px;
    min-width: 976px;
  }
}

@media (max-width: 976px) {
  .contact .inner-blurb .content {
    width: 768px;
    min-width: 768px;
  }
}

.contact .inner-blurb .h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.8em;
  letter-spacing: 1.5em;
  margin: 0;
}

.contact .inner-blurb p {
  position: absolute;
  width: 55%;
  left: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
}

.contact .inner-blurb .btn-row a {
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: 1.5px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */